/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
* ============
* === Fonts ===
* ============
**/
h1 {
    color:#fff;
    font-size:30px;
    font-weight:bold;
}

h2 {
    color:#93ae7b;
    font-size:16px;
    margin-bottom:5px;
    font-weight:bold;
}

h2 a {

}

h2 a:hover {

}

h3 {
    
}

h3 a {

}

h3 a:hover {

}

h4 {
    
}

h4 a {

}

h4 a:hover{

}

h5 {
    
}

h5 a {

}

h5 a:hover {

}

h6 {
    
}

p {
    font-size:16px;
    color:#333333;
    line-height:22px;
    margin-bottom:20px;
}

ul {
    
}

ol {
    
}

li {
    font-size:16px;
    color:#333333;
    line-height:22px;
}

a {
    font-size:16px;
    color:#83a464;
    text-decoration:none;
}

a:hover {
    
}

pre {
    
}

blockquote {
    
}

blockquote:before {

}

blockquote:after {

}

strong {
    font-weight:bold;
}

table{
    width:100%;
    margin-top:15px;
    margin-bottom:15px;
    border:1px solid #ccc;
    font-size:14px;
}

tr{
    
}

th{
    font-weight:bold;
    border-bottom:1px solid #ccc;
    padding:7px 5px;
}

td{
    padding:7px 5px;
}

td+td{
    border-left:1px solid #ccc;
}
/** ========================= /
/* == Base == */
/* ========================= **/

html,body{
    height:100%;
}

body{
    font-family:Arial;
    background-color:#dce7cd;
    background-image:url(images/header-bg.png);
    background-repeat: repeat-x;
}



/** ========================= /
/* == Clearfix == */
/* ========================= **/

.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/** ========================= /
/* == top-bar == */
/* ========================= **/

.top-bar{
    background: #96bc73;
    background: -moz-linear-gradient(top,  #96bc73 0%, #7e9e61 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96bc73), color-stop(100%,#7e9e61));
    background: -webkit-linear-gradient(top,  #96bc73 0%,#7e9e61 100%);
    background: -o-linear-gradient(top,  #96bc73 0%,#7e9e61 100%);
    background: -ms-linear-gradient(top,  #96bc73 0%,#7e9e61 100%);
    background: linear-gradient(to bottom,  #96bc73 0%,#7e9e61 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96bc73', endColorstr='#7e9e61',GradientType=0 );
    height:28px;
    border-bottom:1px solid #6d7a5a;
}

/** ========================= /
/* == Container == */
/* ========================= **/

.container{
    width:960px;
    margin:0px auto 0;
}

/** ========================= /
/* == header == */
/* ========================= **/

.header{
    margin:0px 0px 20px 0px;
}

    .vacancies{
	float:right;
    }
    
    .logo{
	float:left;
	margin:20px 0px 0px 230px;
    }

/** ========================= /
/* == Menu == */
/* ========================= **/

.menu{
    border:1px solid #c7d9af;
    border-radius:5px;
    -moz-border-radius:5px; /** mozilla **/
    -o-border-radius:5px; /** opera **/
    -webkit-border-radius:5px; /** safari **/
    background: #435e29;
    background: -moz-linear-gradient(top,  #435e29 0%, #364c21 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#435e29), color-stop(100%,#364c21));
    background: -webkit-linear-gradient(top,  #435e29 0%,#364c21 100%);
    background: -o-linear-gradient(top,  #435e29 0%,#364c21 100%);
    background: -ms-linear-gradient(top,  #435e29 0%,#364c21 100%);
    background: linear-gradient(to bottom,  #435e29 0%,#364c21 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#435e29', endColorstr='#364c21',GradientType=0 );
    padding-left:14px;
}

    .menu li{
        float:left;
        text-transform:uppercase;
        padding:8px 12px;
    }
        .menu li a{
            text-decoration:none;
            color:#fff;
        }
	
/** ========================= /
/* == slider == */
/* ========================= **/	

.slider{
   
    border:1px solid #fff;
    margin:15px 0px 0px 0px;
    width:954px;
    height:281px;
}	
	
/** ========================= /
/* == content-frame == */
/* ========================= **/

.content-frame-holder{
    margin:20px 0px 50px 0px;
}

    .content-frame{
        float:left;
	background-color:#eaeaea;
	border:1px solid #dbdbd9;
	width:650px;
	min-height:658px;
    }
    
	.content-header{
	    background-image:url("images/content-header-bg.jpg");
	    height:35px;
	    border-bottom:1px solid #78975d;
	    padding-top:7px;
	    padding-left:15px;
	}

	    .content-header h1{
		font-family:Arial;
		color:#fff;
		font-size:30px;
		font-weight:bold;
	    }
            
                .content{
                    padding:15px;
                }
            
    .side-frame-holder{
        float:right;
        background-color:#eaeaea;
        border:1px solid #dbdcd9;
        min-height:200px;
        width:290px;
    }

        .side-frame-header{
            background-image:url("images/side-frame-header.jpg");
            height:35px;
            padding-top:7px;
            padding-left:15px;
        }
        
            .side-frame-header h1{
                font-size:23px;
            }
        
        .side-frame-content{
            background-color:#dce7cd;
            width:270px;
            min-height:200px;
            margin-left:10px;
            padding-top:10px;
            margin-bottom:10px;
        }
        
        .contact-table{
            border:0;
            float:left;
            width:120px;
        }
        
        .contact-table td{
            border0;
        }
        
        .contact-table th{
            border:0;
            text-align:left;
        }
        
        .contact-image{
            float:left;
            border:1px solid #354b20;
            margin:5px;
            
        }
        
.contact-table-2{
    border:0;
    width:130px;
}

    .contact-table-2 td{
        border0;
    }

    .contact-table-2 th{
        border:0;
        text-align:left;
}
        
/** ========================= /
/* == Table  == */
/* ========================= **/

.pritty-table span{
    float:right;
}

.clean-table{
    border:0;
}

    .clean-table td{
        border:0;
    }

    .clean-table tr{
        border-bottom:1px dashed #ccc;
    }

    .clean-table th{
        text-align:left;
    }
/** ========================= /
/* == reserveren == */
/* ========================= **/ 

.reserve-button-holder{
    
}

    .reserve-button-text {
        width:470px;
        float:left;
    }
    
        .reserve-button-text p {
            text-align:right;
            line-height:45px;
            margin:0;
            font-size:20px;
            font-weight:bold;
            font-style:italic;
            color:#7e9e61;
        }
    
    .reserve-button {
        width:130px;
        float:right;
    }

.link-button{
    border:1px solid #364c21;
    height:40px;
    width:100px;
    margin:0 auto;
    background-color:#78975d;
    color:#fff;
    line-height:40px;
    display:block;
    text-align:center;
}


/** ========================= /
/* == footer == */
/* ========================= **/

.footer-holder{
    clear:both;
    width:100%;
    margin:auto;
   
}

.footer-top{
    background-color:#83a464;
    border-top:1px solid #71835e;
    height:25px;
}   

    .footer-links ul{
        float:left;
}

    .footer-links li{
        float:left;
        margin-left:4px
    }
    
        .footer-links li a{
            line-height:25px;
            font-family:Arial;
            font-size:12px;
            color:#354b20;
            text-decoration:none;
        }
    
    .footer-tel{
        float:right;
    }
        
        .footer-tel p{
            font-size:12px;
            color:#354b20;
            margin-bottom:0px;
            line-height:25px;
        }

.footer-bottom{
    background-color:#354b20;
    height:20px;
}

.footer-bottom p{
    color:#fff;
    font-size:10px;
}

/** ========================= /
/* == images == */
/* ========================= **/

.image{
    width:620px;
}

.foto-row {
    margin-bottom:15px;
}

.foto-row a+a {
    margin-bottom:20px;
    margin-left:15px;
}

/** ========================= /
/* == Contact form == */
/* ========================= **/

label{
    margin-bottom:20px;
}

input{
    margin-bottom:20px;
    height:20px;
    width:300px;
}

#name{
    margin-left:80px;
}

#email{
    margin-left:38px;
}

.labelquestion{
    display:block;
}

#submit{
    height:30px;
    width:200px;
    background-color:#96bc73;
    border:none;
    color:#333333;
    font-weight:bold;
    margin:30px 0px 0px 200px;
}

.success, .failed{
    line-height:20px;
    margin-bottom:20px;
    padding:5px;
    border:1px solid #fff;
}

.success{
    background-color:#93ae7b;
}

    .success p{
        color:#fff;
        margin:0px;
    }
    
.failed{
    background-color:#CC040A;
}

    .failed p{
        margin:0px;
        color:#fff;

    }