/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
* ============
* === Fonts ===
* ============
**/
h1 {
    font-family:Arial;
    color:#fff;
    font-size:30px;
    font-weight:bold;
}

h2 {
    font-family:Arial;
    color:#93ae7b;
    font-size:16px;
    margin-left:20px;
    font-weight:bold;
}

h2 a {

}

h2 a:hover {

}

h3 {
    
}

h3 a {

}

h3 a:hover {

}

h4 {
    
}

h4 a {

}

h4 a:hover{

}

h5 {
    
}

h5 a {

}

h5 a:hover {

}

h6 {
    
}

p {
    font-family:Arial;
    font-size:16px;
    color:#333333;
    line-height:22px;
    padding:5px 0px 0px 15px;
    margin-bottom:20px;
}

ul {
    
}

ol {
    
}

li {
    
}

a {
    font-family:Arial;
    font-size:12px;
    color:#354b20;
    text-decoration:none;
}

a:hover {
    
}

pre {
    
}

blockquote {
    
}

blockquote:before {

}

blockquote:after {

}

strong {
    font-weight:bold;
}

/** ========================= /
/* == Base == */
/* ========================= **/

body{
    background-color:#dce7cd;
    background-image:url(images/header-bg.png);
    background-repeat: repeat-x;
}



/** ========================= /
/* == Clearfix == */
/* ========================= **/

.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/** ========================= /
/* == top-bar == */
/* ========================= **/

.top-bar{
    background: #96bc73;
    background: -moz-linear-gradient(top,  #96bc73 0%, #7e9e61 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96bc73), color-stop(100%,#7e9e61));
    background: -webkit-linear-gradient(top,  #96bc73 0%,#7e9e61 100%);
    background: -o-linear-gradient(top,  #96bc73 0%,#7e9e61 100%);
    background: -ms-linear-gradient(top,  #96bc73 0%,#7e9e61 100%);
    background: linear-gradient(to bottom,  #96bc73 0%,#7e9e61 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96bc73', endColorstr='#7e9e61',GradientType=0 );
    height:28px;
    border-bottom:1px solid #6d7a5a;
}

/** ========================= /
/* == Container == */
/* ========================= **/

.container{
    width:960px;
    margin:0px auto 0;
    min-height:1200px;
}

/** ========================= /
/* == header == */
/* ========================= **/

.header{
    margin:0px 0px 20px 0px;
}

    .vacancies{
	float:right;
    }
    
    .logo{
	float:left;
	margin:20px 0px 0px 230px;
    }

/** ========================= /
/* == Menu == */
/* ========================= **/

.menu{
    border:1px solid #c7d9af;
    border-radius:5px;
    -moz-border-radius:5px; /** mozilla **/
    -o-border-radius:5px; /** opera **/
    -webkit-border-radius:5px; /** safari **/
    background: #435e29;
    background: -moz-linear-gradient(top,  #435e29 0%, #364c21 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#435e29), color-stop(100%,#364c21));
    background: -webkit-linear-gradient(top,  #435e29 0%,#364c21 100%);
    background: -o-linear-gradient(top,  #435e29 0%,#364c21 100%);
    background: -ms-linear-gradient(top,  #435e29 0%,#364c21 100%);
    background: linear-gradient(to bottom,  #435e29 0%,#364c21 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#435e29', endColorstr='#364c21',GradientType=0 );
    padding-left:14px;
}

    .menu li{
        float:left;
        text-transform:uppercase;
        padding:8px 12px;
    }
        .menu li a{
            text-decoration:none;
            color:#fff;
        }
	
/** ========================= /
/* == slider == */
/* ========================= **/	

.slider{
   
    border:1px solid #fff;
    margin:15px 0px 0px 0px;
    width:954px;
    height:281px;
}	
	
/** ========================= /
/* == content-frame == */
/* ========================= **/

.content-frame-holder{
    margin:20px 0px 0px 0px;
}

    .content-frame{
        float:left;
	background-color:#eaeaea;
	border:1px solid #dbdbd9;
	width:650px;
	min-height:300px;
    }
    
        .content p{
            margin:20px 10px 20px 10px;
        }

	.content-header{
	    background-image:url("images/content-header-bg.jpg");
	    height:35px;
	    border-bottom:1px solid #78975d;
	    padding-top:7px;
	    padding-left:15px;
	}

	    .content-header h1{
		font-family:Arial;
		color:#fff;
		font-size:30px;
		font-weight:bold;
	    }
            
    .side-frame-holder{
        float:right;
        background-color:#eaeaea;
        border:1px solid #dbdcd9;
        height:220px;
        width:290px; 
    }

        .side-frame-header{
            background-image:url("images/side-frame-header.jpg");
            height:35px;
            padding-top:7px;
            padding-left:15px;
        }
        
        .side-frame-content{
            background-color:#dce7cd;
            width:270px;
            height:170px;
            margin-left:10px;
        }
        
            .side-frame-content p{
                 color:#333333;
             }
             
             .postcode{
                 margin-bottom:20px;
             }
             
/** ========================= /
/* == footer == */
/* ========================= **/

.footer-holder{
    height:46;
}

.footer-top{
    background-color:#83a464;
    border-top:1px solid #71835e;
    height:25px;
}

    .footer-links p{
        float:left;
        width:500px;
    }
    
    .footer-tel p{
        float:center;
    }
    
        .footer-tel p{
            font-size:12px;
            color:#354b20;
        }

.footer-bottom{
    background-color:#354b20;
    height:20px;
}




